<div class="container">
  <!-- DSSV -->

  <div class="container">
    <div>
      <h1>Angular Form</h1>
      <div>
        <app-form></app-form>
      </div>
    </div>

    <hr>

    <h1 (click)="clickH1()">DS giảng viên</h1>
    <div>
      <form action="">
        <input type="text" (keydown)="changeInput($event)" [value]="inputValue">
        {{inputValue}}
      </form>
    </div>
    <div>
      <p>Form đăng kí thông tin</p>
      <form action="">
        <div class="form-group">
          <label for="">Tên GV</label>
          <input type="text" class="form-control" (input)="onInput($event,'name')" [value]="inputValues.name">
        </div>

        <div class="form-group">
          <label for="">Tuổi GV</label>
          <input type="number" class="form-control" (input)="onInput($event,'age')" [value]="inputValues.age">
        </div>

        <div class="form-group">
          <label for="">Giới tính </label>
          <input type="radio" class="form-check" (input)="onInput($event,'gender')" [value]="1" [checked]="inputValues.gender === '1'">Nam
        </div>
        <div class="form-group">
          <input type="radio" class="form-check" (input)="onInput($event,'gender')" [value]="0" [checked]="inputValues.gender === '0'">Nữ
        </div>
         

        <div class="form-group">
          <label for="">Avatar</label>
          <input type="text" class="form-control" (input)="onInput($event,'avatar')" [value]="inputValues.avatar">
        </div>

        <div class="form-group">
          <label for="">Trạng thái</label>
          <input type="checkbox" class="form-check" (input)="onInput($event,'status')" [value]="1" [checked]="inputValues.status === '1'">Đã nghỉ
        </div>
        <div class="form-group">
          <input type="checkbox" class="form-check" (input)="onInput($event,'status')" [value]="0" [checked]="inputValues.status === '0'">Đang làm việc
        </div>
        <div><button type="button" (click)="onSubmit()" class="btn btn-success">Submit</button></div>
      </form>
    </div>
    <!-- Casch1: dùng ngIf
        Cách 2: dùng class
  -->
  </div>
  <button class="btn btn-info" (click)="changeTableStatus()">{{showStatus ? 'Ẩn' : 'Hiện'}} bảng teacher</button>

  <div>
    <app-table [users]="teachers" *ngIf="showStatus" class="{{showStatus ? 'display-block' : 'display-none'}}">
    </app-table>
  </div>

  <div>
    Tênsv: <app-name [name]="StudentName"></app-name>
    MSV: <app-identity [id]="StudentId"></app-identity>
  </div>

</div>